/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/public/uploads/
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# AI tools
.mcp.json
boost.json
.sixth/
.kiro/

public/uploads/tache-attachments/1765472376_693af87875740_Continuez votre apprentissage 6.pdf
public/uploads/tache-attachments/1765472376_693af87885201_cerd.png
public/uploads/tache-attachments/1765472951_693afab771aca_domais.png
public/uploads/tache-attachments/1765472951_693afab76078f_Images1 copie.png
public/uploads/tache-attachments/1765473084_693afb3c9c741_CECAM.jpeg
public/uploads/tache-attachments/1765473084_693afb3caa5c6_Implémentez des relations entre vos données - Implémentez vos bases de données relationnelles avec SQL - OpenClassrooms.pdf
public/uploads/tache-attachments/1765526516_693bcbf4b6b8f_Continuez votre apprentissage 6.pdf
public/uploads/tache-attachments/1765526516_693bcbf4ddbba_cerd.png
public/uploads/task-covers/TBxOgvIeDfvRZEOHgfKP9ih6mmmx1jDPXzaFgL0C.jpg
*.gz
